<div id="container">
	<div id="label">Hover over a neighborhood to get its name.</div>
	<div id="lookup">
      <input id="address" type="textbox" value="32 Page Street, San Francisco, CA">
      <input id="address-submit" type="button" value="Show Me">
  </div>
	<div id="map"></div>
</div>